#progress-indicator {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0; /* Цвет фона полоски */
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%; /* Начальный прогресс */
    background-color: #4caf50; /* Цвет заполнения */
    transition: width 0.3s ease; /* Плавная анимация */
}